.H1cart {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    /*t r b l*/
    margin: 10px 5vw 10px 5vw;
    /* width: 200px;
    height: 150px; */
}

footer {
    position: relative;
}