.danceHomepage{
    background-image: url("../img/Dance_HomeBG.jpg");
    width: 100%;
    background-size: cover;
}

.danceTicket{
    background-image: url("../img/Dance_TicketBG.jpg");
    width: 100%;
    background-size: cover;
}



.danceDescriptionHome{
    background-color: #ccc;
    width: 400px;
    padding: 25px;
    margin: 25px;
    align-content:center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.danceTicketColumn{
    float: left;
    width: 20.5%;
    background-color: #ccc;
    border: 2px solid #fff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: 2vw;
    color:yellow;
}

.danceTicketRow :hover{
    background-color: #ffff99;
      
}


.danceTicketRow:after {
    content: "";
    display: table;
    clear: both;
} 

table {
    border-collapse: collapse;
    width: 70%;
    background-color: #ccc;
    opacity: 0.8;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left:15%; 
    margin-right:15%;
    margin-top: 40px;
  }
  
  td, th {
    text-align: left;
    padding: 12px;
  }
  
  tr:nth-child(even) {
    background-color: #000000 ;
    color: red;
  }

#qty1 {
    width: 30px;
}
