*
{
    font-size: 1.1vw;
}


.page_section
{
    
    width: 100%;
    background-color: darkgrey;
    max-width: 1200px;
}

.dashboard
{
    background-color: darkgrey;
}
title
{
    background-color: darkgrey;

}
h1
{
    font-size: 1em;
    text-align: left;
    color: black;
}

div
{
border: 1px solid black;
  background-color: white;
  width: max-width;                 
  padding: 10px;
  margin: 10px;
}



.navigation
{
    width: 175px;
}
ul
{
    border: 1px solid black;
    height: 400px;
    width: 180px;
}
body ul li
{
    display:flex;
    padding-top: 25px;
}
a.cmsnavilink
{
    color: #1E1E1E;
    text-decoration: none;
   
    border: 1px solid black;
    background-color: white;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    border-top-style: outset;
    position: relative;
    top: 40px;
}

    
.title_box { 
    background-color: grey;
}

.title_box #title { 
    position: relative; 
    top : -0.5em;
    margin-left: 1em;
    display: inline; 
    background-color: white; 
}
div#title
{
    background-color: grey;
    color: white;
    position: relative;
    right: 20px;
    bottom: 19.6px;
    width:inherit;
}

.Statistics_box
{
    position: relative;
    left: 1009px;
    bottom: 578px;
    width: 373px;
    height: 400px;
}

.Sales_box
{
    position: relative;
    left: 750px;
    bottom: 412px;
    width: 600px;
}

.message_box
{
    position: relative;
    left: 200px;
    bottom: 848px;
    width: 750px;
    height: 239px;
}
/**.title_box #content {
} **  