* {
    padding: 0px;
    margin: 0px;
    font-family: "Georgia Pro", Times New Roman, Times, serif;
    font-size: 1.5vw;
}

html {
    background-image: url("../img/jazzBG1.jpg");
    color: #1E1E1E;
    width: 100%;
    background-size: cover;
}


/* ----------------------------------------------------------Header styling----------------------------------------------------------------------- */

header {
    background-image: url("../img/trasnparentBG.png");
}

.headerRow {
    margin: 0;
    padding: 0;
}

.headerColumn {
    float: left;
    width: 33.33%;
}

.headerRow:after {
    content: "";
    display: table;
    clear: both;
}

.columnLoginCart {
    float: left;
    width: 50%;
}

.rowLoginCart:after {
    content: "";
    display: table;
    clear: both;
}

.cartImg {
    float: left;
}


/* navigation bar styling started */

a.cartlink,
a.translink {
    color: #1E1E1E;
    text-decoration: none;
}

a.navilink {
    color: #1E1E1E;
    text-decoration: none;
    margin: 0px 20px 0px 20px;
}

ul li {
    list-style: none;
    display: inline;
}

a:hover {
    color: #fff;
}


/* ----------------------------------------------------------Header styling----------------------------------------------------------------------- */

#qty1 {
    width: 30px;
}