* {
    padding: 0px;
    margin: 0px;
    font-family: "Georgia Pro", Times New Roman, Times, serif;
}

html {
    background-image: url("../img/jazzBG1.jpg");
    color: #1E1E1E;
    width: 100%;
    background-size: cover;
}

.headerRow {
    background-image: url("../img/trasnparentBG.png");
    margin: 0;
    padding: 0;
}

.headerColumn {
    float: left;
    width: 33.33%;
}

.headerRow:after {
    content: "";
    display: table;
    clear: both;
}

.columnLoginCart {
    float: left;
    width: 50%;
}

.rowLoginCart:after {
    content: "";
    display: table;
    clear: both;
}

.cartImg {
    float: left;
}

#qty1 {
    width: 30px;
}