@charset "utf-8";
*{
	    font-family: "Georgia Pro", Times New Roman, Times, serif;
}
.DescriptionList{
	align-items: center;
	border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
	margin: 50px 350px;
	width: 800px;
	height: 30px;
}

.MrandMrs{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
	
}
.BackgroundRestaurant1{
	margin: 50px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}
.time1restaurant1{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 230px 38px;
    color:black;
	
}

.rest1img{
	float:left;
}

.price1{
	float:right;
}


.booknowtext1{
	color: black;
}
.booknowtext1{
	color: black;
}

.Ratatouille{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}
.info{
	font-size: 20px;

}

.BackgroundRestaurant2{
	margin: 150px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.booknowtext2{
		color: black;
	
}

.time1restaurant2{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 170px 38px;
    color:black;
}

.BackgroundRestaurant3{
	margin: 200px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.ML{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}

.time1restaurant3{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 230px 38px;
    color:black;
}

.BackgroundRestaurant4{
	margin: 190px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.RestaurantFris{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}

.time1restaurant4{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 230px 38px;
    color:black;
}

.BackgroundRestaurant5{
	margin: 150px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.RestaurantSpecktackel{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}

.time1restaurant5{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 170px 38px;
    color:black;
}

.BackgroundRestaurant6{
	margin: 150px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.Brinkmann{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}

.time1restaurant6{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 220px 38px;
    color:black;
}

.BackgroundRestaurant7{
	margin: 150px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.Toujours{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}
.time1restaurant7{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 180px 38px;
    color:black;
}

.BackgroundRestaurant8{
	margin: 150px 350px 100px;
	height: 300px;
	width: 600px;
	z-index: 3;
	background: #0B0A0A
}

.GoldenBull{
	margin: 0px 500px;
	height: 300px;
	width: 650px;
	background:#F0E6E6;
	position: absolute;
}

.time1restaurant8{
	background: #F3EAEA;
	float: left;
    width: 20.5%;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin: 220px 38px;
    color:black;
}
.restaurantname{
	font-size: 24px;
}
h2{
	font-size: 15px;
	color: gray;
}
.price{
	font-weight: bold;
	float: right;
	margin-right: 25px;
}