@charset "utf-8";

*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.fooddetail{
    background-image: url("../img/res-1.jpg");
    background-repeat: no-repeat;
}

.detail{
    float: right;
    background-color: gray;
    margin-top: 25px;
    margin-right: 25px;
    width: 500px;
}

h1{
    font-size: 40px;
}

.Title{
    text-align: center;
    background-color: #DCDCDC;
    padding-bottom: 5px;
    padding-top: 5px;
}

.Subtitle{
    text-align: center;
    background-color: #D3D3D3;
    padding-bottom: 5px;
    padding-top: 5px;
}

.DescriptionTitle{
    text-align: left;
    background-color: #C0C0C0;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

b{
    font-size: 25px;
}

.Description{
    background-color: whitesmoke;
    margin: 10px;
    padding: 10px;

}

.reservetext{
    clear: both;
    float: left;
}

.reservetable{
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    padding-left: 35px;
}

.time1restaurant1{
    clear: both;
    background: white;
	float: left;
    width: 180px;
    opacity: 0.9 ;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 10px;
    color:black;
    margin-left: 10px;
    
}

.booking{
    clear: both;
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    padding-top: 25px;
    width: 200px;
    background-color: wheat;
    height: 180px;

    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;

}

.availabletime{
    padding-bottom: 25px;
    padding-left: 25px;
}

.rest1img{
    float: right;
    margin-right: 50px;
}
.rest2img{
    float: right;
    margin-right: 10px;

}
.rest3img{
    float: right;
    margin-right: 10px;

}

.maps{
    clear: both;
    margin-left: 35%;
    margin-top: 50%;
    padding-top: 15px;
    background-color: wheat;
    width: 500px;
    height: 350px;
}

.mapsphoto{
    padding-top: 10px;
    margin-left: 10%;
}

.location{
    margin-left: 40%;
}

.bg1{
    background-image: url("../img/res-1.jpg");
    background-repeat: no-repeat;
}

.bg2{
    background-image: url("../img/res-1.jpg");
    background-repeat: no-repeat;
    background-image: url("../imgrestaurant/bg2.jpg");
    background-repeat: no-repeat;
}

.bg3{
    
}






